/* Cards */
.InsideContent2{
  display:block;
}
.InsideContent{
  display:flex;
  align-items: flex-start;
}

.InsideContent1{
  display:block;
}
.card1{
  width:180px;
  height:260px;
  
}
.card2{
  width:140px;
  height:230px;
  
}
.card {
  border: 0;
  background: $card-bg;
  
  margin-top: 1rem;
  .card-body {
    padding: $card-padding-y $card-padding-x;
    + .card-body {
      padding-top: 5rem;
    }
  }
  .card-title {
    // color: $card-title-color;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    font-family: $type1-medium;
    font-size: 1.125rem;
    
  }
  .card-subtitle {
   
    font-family: $type1-regular;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  .card-description {
    color: $card-description-color;
    margin-bottom: 1.5rem;
    font-family: $type1-regular;
  }
  &.card-outline-success {
    border: 1px solid theme-color("success");
  }
  &.card-outline-primary {
    border: 1px solid theme-color("primary");
  }
  &.card-outline-warning {
    border: 1px solid theme-color("warning");
  }
  &.card-outline-danger {
    border: 1px solid theme-color("danger");
  }
  &.card-rounded {
    @include border-radius(5px);
  }

  &.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  &.card-circle-progress {
    color: $white;
    text-align: center;
  }
  &.card-img-holder {
    position: relative;
    .card-img-absolute {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  }
  &.bg-blue-gradient {
    background: linear-gradient(to right, #065efd, #3169fd, #6f79fc);
    color: #fff;
  }

  &.bg-orange-gradient {
    background: linear-gradient(to right, #ff7f2e, #fe7452);
    color: #fff;
  }

  &.bg-green-gradient {
    background: linear-gradient(to right, #24e8a6, #09cdd1);
    color: #fff;
  }

  &.card-no-shadow {
    box-shadow: none;
  }
}
.cardnew {
  // border: 0;
  max-width: auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: auto;
  height: auto;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  
  margin-top: 0.5rem;
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
    .card {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.75rem;
      margin-left: 0.25rem;
    }
  }
}

  
    
   
@media (max-width: 320px) {
  .card-columns {
    column-count: 1;
    column-gap: 0.75rem;
    orphans: 1;
    widows: 1;
    .card {
      display: flex;
      width: 100%;
      
      margin-bottom: 0.25rem;
      margin-left: 0.25rem;
    }
   
  }
}
@each $color, $value in $theme-colors {
  .card-inverse-#{$color} {
    @include card-inverse-variant(rgba($value, .2), theme-color-level($value, 1), theme-color-level($value, 3));
  }
}
.gap-div{
  margin-top:10px;
}
