
.text-green {
  color: green;
}

.text-red {
  color: red;
}
.text-yellow {
  color: yellow;
}

.containertop p {
  display: inline-block;
  margin-right: 15px; /* Adjust spacing between elements */
  vertical-align: top; /* Align elements at the top */
}

//cardstock
/* Basic scene styling */
.scenestock {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-top:25px;
}

/* Card container */
.cardstock {
  width: 100%;
  max-width: 1300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
 
}

/* Glassmorphism effect */
.cardstock__face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  backface-visibility: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.cardstock__face--front {
  position: relative;  /* This ensures the sparkline is positioned relative to the card */
}

.sparkline-background {
  position: absolute;   /* Position it behind the text */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;           /* Ensure it's behind other elements */
  pointer-events: none; /* Prevent interaction with the sparkline */
}

.cardstock__face--front h4,
.cardstock__face--front h6,
.cardstock__face--front .center-text {
  position: relative;   /* Ensure text is on top */
  z-index: 1;           /* Ensure text is above the sparkline */
}

/* Ensure back side is hidden until flipped */
.cardstock__face--back {
  transform: rotateY(180deg);
  z-index: 0;
}

/* Center text positioning */
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

/* Responsive design */
@media (max-width: 768px) {
  .cardstock {
    max-width: 100%;
    height: 250px;
  }

  .center-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  .cardstock {
    width: 100%;
    height: 300px;
    margin-top:25px;
  }
  .canvas {
    position: absolute;  /* Make canvas the background layer */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  /* Lower z-index to place canvas behind the text */
    pointer-events: none;  /* Prevent interactions with the canvas */
  }

  .center-text {
    height: 30px;
  }
}

/* Top-left positioning */
.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
.top-right {
  position: absolute;
  top: 40px;
  right: 10px;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

/* Bottom-left positioning */
.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

/* Background colors for card faces */
.bg-red {
  background: linear-gradient(
    135deg,
    rgba(255, 236, 210, 0.8),
    rgba(252, 182, 159, 0.6)
  );
}

.bg-green {
  background: linear-gradient(
    135deg,
    rgba(191, 240, 152, 0.8),
    rgba(111, 214, 255, 0.8)
  );
}

.bg-yellow {
  background: linear-gradient(
    135deg,
    rgba(169, 241, 223, 0.8),
    rgba(255, 187, 187, 0.6)
  );
}

/* Rotate card when flipped */
.is-flipped {
  transform: rotateY(180deg);
  z-index: 2;
}
.cardstock__face--back .text-container {
  width: 100%;
  text-align: left;
  padding-left: 20px; /* Adjust to control distance from left edge */
}

.cardstock__face--back p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
///For Card sma ema
/* Container for perspective */
.scenesmaema {
  display: flex;
  justify-content: flex-start; /* Aligns card to the left */
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
  
}

/* Card container with 3D transform */
.cardsmaema {
  width: 600px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  
}

.cardsmaema__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Front face */
.cardsmaema__face--front {
  z-index: 2;
}

/* Back face */
.cardsmaema__face--back {
  transform: rotateY(180deg);
}

/* Flip effect */
.is-flipped {
  transform: rotateY(180deg);
}

/* Responsive Design */
@media (max-width: 360px) {
  .scenesmaema {
    // flex-direction: column;
    // align-items: flex-start; /* Aligns content to the left on smaller screens */
     padding-left: 0px;
    padding-top: 10px; /* Optional: Adjusts left padding on smaller screens */
  }

  .cardsmaema {
    max-width: 350px;
    max-height: 400px;
    padding-left: 0px;
  }
}


.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.text-item {
  white-space: nowrap;
}

/* Responsive text */
@media (max-width: 768px) {
  .text-item {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .text-item {
    font-size: 0.6rem;
  }
}
//For Stock today
.scenestocktoday {
  display: flex;
  justify-content: flex-start; /* Aligns card to the left */
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
  
}

/* Card container with 3D transform */
.cardstocktoday {
  width: 600px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.cardstocktoday__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Front face */
.cardstocktoday__face--front {
  z-index: 2;
}

/* Back face */
.cardstocktoday__face--back {
  transform: rotateY(180deg);
}

/* Flip effect */
.is-flipped {
  transform: rotateY(180deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .scenestocktoday {
    flex-direction: column;
    align-items: flex-start; /* Aligns content to the left on smaller screens */
    padding-left: 10px; /* Optional: Adjusts left padding on smaller screens */
  }

  .cardstocktoday {
    width: 100%;
    height: 400px;
  }
}

.text-containerstocktoday {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.text-itemstocktoday {
  white-space: nowrap;
}

/* Responsive text */
@media (max-width: 768px) {
  .text-itemstocktoday {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .text-itemstocktoday {
    font-size: 0.6rem;
  }
}


.container {
  display: flex;
  justify-content: flex-start;  /* Align items to the left */
  flex-wrap: wrap;
  // padding-left: 10px;  /* Reduce left padding */
  padding-right: 10px; /* Balance right padding */

  .scenesmaema, .scenestocktoday {
    flex: 1 1 48%;  /* Cards will take 48% of the container's width */
    max-width: 600px;
    min-width: 400px;
    display: flex;
    justify-content: flex-start;  /* Shift the cards to the left within their section */
    align-items: center;
    perspective: 1000px;
    margin-right: 10px;  /* Reduce margin between cards */
    margin-left: 0;  /* Ensure no extra margin on the left side of the card */
  }

  .cardsmaema, .cardstocktoday {
    width: 100%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
  }

  /* Stack the cards on mobile screens */
  @media (max-width: 360px) {
    .scenesmaema, .scenestocktoday {
      flex: 1 1 100%;  /* Make each card take 100% of the width on smaller screens */
      max-width: 90%;
      margin-bottom: 20px;  /* Add space between stacked cards */
      margin-right: 0;  /* Remove the right margin to reduce gaps on smaller screens */
    }
  }
}
//Card Volume
.sceneprice{
  display: flex;
  justify-content: flex-start; /* Aligns card to the left */
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
  margin-top: 20px;
  margin-bottom: 10px;
  
}

/* Card container with 3D transform */
.cardprice {
  width: 550px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.cardprice__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Front face */
.cardprice__face--front {
  z-index: 2;
}

/* Back face */
.cardprice__face--back {
  transform: rotateY(180deg);
}

/* Flip effect */
.is-flipped {
  transform: rotateY(180deg);
}

/* Responsive Design */
@media (max-width: 360px) {
  .sceneprice{
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 30px;/* Optional: Adjusts left padding on smaller screens */
  }

  .cardprice {
    width: 100%;
    height: 350px;
    margin-top:30px;
  }
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.text-item {
  white-space: nowrap;
}

/* Responsive text */
@media (max-width: 768px) {
  .text-item {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .text-item {
    font-size: 0.6rem;
  }
}
//For Volume
.scenevolume {
  display: flex;
  justify-content: flex-start; /* Aligns card to the left */
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
  
}

/* Card container with 3D transform */
.cardvolume {
  width: 500px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.cardvolume__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Front face */
.cardvolume__face--front {
  z-index: 2;
}

/* Back face */
.cardvolume__face--back {
  transform: rotateY(180deg);
}

/* Flip effect */
.is-flipped {
  transform: rotateY(180deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .scenevolume {
    flex-direction: column;
    align-items: flex-start; /* Aligns content to the left on smaller screens */
    padding-left: 10px; /* Optional: Adjusts left padding on smaller screens */
  }

  .cardvolume {
    width: 100%;
    height: 400px;
  }
}

.text-containervolume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.text-itemvolume {
  white-space: nowrap;
}

/* Responsive text */
@media (max-width: 768px) {
  .text-itemvolume {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .text-itemvolume {
    font-size: 0.6rem;
  }
}


.containerpricevolume {
  display: flex;
  justify-content: flex-start;  /* Align items to the left */
  flex-wrap: wrap;
  padding-left: 10px;  /* Reduce left padding */
  padding-right: 10px; /* Balance right padding */

  .sceneprice, .scenevolume {
    flex: 1 1 48%;  /* Cards will take 48% of the container's width */
    max-width: 600px;
    min-width: 400px;
    display: flex;
    justify-content: flex-start;  /* Shift the cards to the left within their section */
    align-items: center;
    perspective: 1000px;
    margin-right: 10px;  /* Reduce margin between cards */
    margin-left: 0;  /* Ensure no extra margin on the left side of the card */
  }

  .cardprice, .cardvolume {
    width: 100%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
  }

  /* Stack the cards on mobile screens */
  @media (max-width: 360px) {
    .sceneprice, .scenevolume {
      flex: 1 1 100%;  /* Make each card take 100% of the width on smaller screens */
      max-width: 100%;
      margin-bottom: 20px;  /* Add space between stacked cards */
      margin-right: 0;  /* Remove the right margin to reduce gaps on smaller screens */
    }
  }
}