<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="cardnew col-lg-15 col-xs-6">
  <div fxLayout="row" fxLayout.xs="column">
    <div class="button-container">
      <p-dropdown
        [options]="items"
        [(ngModel)]="item"
        placeholder="Search Stock"
        [virtualScroll]="true"
        [itemSize]="31"
        [filter]="true"
        (onChange)="selectEvent(item)"
        class="responsive-dropdown"
      >
      </p-dropdown>
      <div class="container">
      <!-- <button
        pButton
        type="button"
        (click)="setttvolume()"
        icon="pi"
        label="MCInsights"
        class="p-button-raised p-button-help p-button-outlined pButton"
      ></button> -->
      <button
        pButton
        type="button"
        (click)="navigateanalytics()"
        icon="pi"
        label="Analytics"
        class="p-button-raised p-button-help p-button-outlined pButton"
      ></button>
      <button
        pButton
        type="button"
        (click)="navigateinsights()"
        icon="pi"
        label="Insights"
        class="p-button-raised p-button-help p-button-outlined pButton"
      ></button>
      <button
        pButton
        type="button"
        (click)="navigatescreeners()"
        icon="pi"
        label="Screeners"
        class="p-button-raised p-button-success p-button-outlined pButton"
      ></button>
      

      <!-- <button
        pButton
        type="button"
        (click)="tlrefresh()"
        icon="pi"
        label="TLRefresh"
        class="p-button-raised p-button-help p-button-outlined pButton"
      ></button> -->
      <button
        pButton
        type="button"
        (click)="visibleSidebar2 = true"
        icon="pi"
        label="News"
        class="p-button-raised p-button-warning p-button-outlined pButton"
      ></button>
      <button
        pButton
        type="button"
        (click)="visibleSidebar1 = true"
        icon="pi"
        label="Actions"
        class="p-button-raised p-button-success p-button-outlined pButton"
      ></button>
      <button
        pButton
        type="button"
        (click)="visibleSidebar4 = true"
        icon="pi"
        label="Websites"
        class="p-button-raised p-button-help p-button-outlined pButton"
      ></button>
    </div>
    </div>
    <div class="card-containertopcards">
      <div class="card-wrappertopcards">
        <div class="card bg-gradient-primary card-img-holder text-white" (click)="navigatenifty()">
          <div class="card-body">
            <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
            <div
              style="text-transform: uppercase; font-weight: bold"
              [ngClass]="{
                'bg-gradient-success small-text': tile.text4 > 0,
                'bg-gradient-danger': 0 > tile.text4
              }"
              *ngFor="let tile of mcniftyrt; let i = index; trackBy: trackByFunctionmcniftyrt"
            >
              &nbsp;NIFTY <br />&nbsp;{{ tile.text2 }}<br />&nbsp;{{ tile.text3 | number : '1.2-2' }}&nbsp;{{ tile.text4 | number : '1.2-2' }}% <br />&nbsp;Adv:{{ tile.text5 }}&nbsp;&nbsp;Dec:{{ tile.text6 }}
            </div>
            <div class="canvas-wrapper">
              <canvas #sparklineChart></canvas>
            </div>
            <div style="font-weight: bold">{{ pcrnsenifty1 }}</div>
            <em style="font-size: medium">{{ tlniftybuildup }}</em>
            <em style="font-size: medium">{{ tlniftybuildup5 }}</em>
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
    
      <div class="card-wrappertopcards">
        <div class="card bg-gradient-primary card-img-holder text-white" (click)="navigatebanknifty()">
          <div class="card-body">
            <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
            <div
              style="text-transform: uppercase; font-weight: bold"
              [ngClass]="{
                'bg-gradient-success ': tile.text4 > 0,
                'bg-gradient-danger ': 0 > tile.text4
              }"
              *ngFor="let tile of mcbniftyrt; let i = index; trackBy: trackByFunctionmcbniftyrt"
            >
              &nbsp;BANK NIFTY <br />&nbsp;{{ tile.text2 }}<br />&nbsp;{{ tile.text3 | number : '1.2-2' }}&nbsp;{{ tile.text4 | number : '1.2-2' }}%<br />&nbsp;Adv:{{ tile.text5 }}&nbsp;&nbsp;Dec:{{ tile.text6 }}
            </div>
            <div class="canvas-wrapper">
              <canvas #sparklineChart1></canvas>
            </div>
            <div style="font-weight: bold">{{ pcrnsebnifty1 }}</div>
            <div style="font-weight: bold">{{ tlbniftybuildup }}</div>
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
    
      <div class="card-wrappertopcards">
        <div class="card bg-gradient-primary card-img-holder text-white" (click)="navigatepnifty()">
          <div class="card-body">
            <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
            <div
              style="text-transform: uppercase; font-weight: bold"
              [ngClass]="{
                'bg-gradient-success mb-1 ': tile.text4 > 0,
                'bg-gradient-danger mb-1 ': 0 > tile.text4
              }"
              *ngFor="let tile of mcpniftyrt; let i = index; trackBy: trackByFunctionmcpniftyrt"
            >
              &nbsp;Pharma N <br />&nbsp;{{ tile.text2 }}<br />&nbsp;{{ tile.text3 | number : '1.2-2' }}&nbsp;{{ tile.text4 | number : '1.2-2' }}%<br />&nbsp;Adv:{{ tile.text5 }}&nbsp;&nbsp;Dec:{{ tile.text6 }}
            </div>
            <div class="canvas-wrapper">
              <canvas #sparklineChart2></canvas>
            </div>
            <div class="InsideContent">
              <div
                style="text-transform: uppercase; font-weight: bold"
                [ngClass]="{
                  'bg-gradient-success mb-1 ': 30 > tile.text1 && tile.text1 > 0,
                  'bg-gradient-warning mb-1 ': 50 > tile.text1 && tile.text1 > 30,
                  'bg-gradient-neu mb-1 ': 70 > tile.text1 && tile.text1 > 50,
                  'bg-gradient-danger mb-1 ': tile.text1 > 70
                }"
                *ngFor="let tile of ttmmi"
              >
                MMI: {{ tile.text1 | number : '1.2-2' }}
              </div>
            </div>
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="InsideContent">
      <div class="col-md-4 col-xs-6">
        <div
          class="card bg-gradient-primary card-img-holder text-white"
          (click)="navigatenifty()"
        >
          <div class="card-body">
            <img
              src="assets/images/dashboard/circle.svg"
              class="card-img-absolute"
              alt="circle-image"
            />
            <div
              style="text-transform: uppercase; font-weight: bold"
              [ngClass]="{
                'bg-gradient-success small-text': tile.text4 > 0,
                'bg-gradient-danger': 0 > tile.text4
              }"
              *ngFor="let tile of mcniftyrt"
            >
              &nbsp;NIFTY <br />&nbsp;{{ tile.text2 }}<br />&nbsp;{{
                tile.text3 | number : "1.2-2"
              }}&nbsp;{{ tile.text4 | number : "1.2-2" }}% <br />&nbsp;Adv:{{
                tile.text5
              }}&nbsp;&nbsp;Dec:{{ tile.text6 }}
            </div>
            <div class="canvas-wrapper">
              <canvas #sparklineChart></canvas>
            </div>
            <div style="font-weight: bold">{{ pcrnsenifty1 }}</div>
            <em style="font-size: medium">{{ tlniftybuildup }}</em>
            <em style="font-size: medium">{{ tlniftybuildup5 }}</em>
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div
          class="card bg-gradient-primary card-img-holder text-white"
          (click)="navigatebanknifty()"
        >
          <div class="card-body">
            <img
              src="assets/images/dashboard/circle.svg"
              class="card-img-absolute"
              alt="circle-image"
            />
            <div
              style="text-transform: uppercase; font-weight: bold"
              [ngClass]="{
                'bg-gradient-success ': tile.text4 > 0,
                'bg-gradient-danger ': 0 > tile.text4
              }"
              *ngFor="let tile of mcbniftyrt"
            >
              &nbsp;BANK NIFTY <br />&nbsp;{{ tile.text2 }}<br />&nbsp;{{
                tile.text3 | number : "1.2-2"
              }}&nbsp;{{ tile.text4 | number : "1.2-2" }}%<br />&nbsp;Adv:{{
                tile.text5
              }}&nbsp;&nbsp;Dec:{{ tile.text6 }}
            </div>
            <div class="canvas-wrappertopcards">
              <canvas #sparklineChart1></canvas>
            </div>
            <div style="font-weight: bold">{{ pcrnsebnifty1 }}</div>
            <div style="font-weight: bold">{{ tlbniftybuildup }}</div>
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div
          class="card bg-gradient-primary card-img-holder text-white"
          (click)="navigatepnifty()"
        >
          <div class="card-body">
            <img
              src="assets/images/dashboard/circle.svg"
              class="card-img-absolute"
              alt="circle-image"
            />
            <div
              style="text-transform: uppercase; font-weight: bold"
              [ngClass]="{
                'bg-gradient-success mb-1 ': tile.text4 > 0,
                'bg-gradient-danger mb-1 ': 0 > tile.text4
              }"
              *ngFor="let tile of mcpniftyrt"
            >
              &nbsp;Pharma N <br />&nbsp;{{ tile.text2 }}<br />&nbsp;{{
                tile.text3 | number : "1.2-2"
              }}&nbsp;{{ tile.text4 | number : "1.2-2" }}%<br />&nbsp;Adv:{{
                tile.text5
              }}&nbsp;&nbsp;Dec:{{ tile.text6 }}
            </div>
            <div class="canvas-wrapper">
              <canvas #sparklineChart2></canvas>
            </div>
            <div class="InsideContent">
              <div
                style="text-transform: uppercase; font-weight: bold"
                [ngClass]="{
                  'bg-gradient-success mb-1 ':
                    30 > tile.text1 && tile.text1 > 0,
                  'bg-gradient-warning mb-1 ':
                    50 > tile.text1 && tile.text1 > 30,
                  'bg-gradient-neu mb-1 ': 70 > tile.text1 && tile.text1 > 50,
                  'bg-gradient-danger mb-1 ': tile.text1 > 70
                }"
                *ngFor="let tile of ttmmi"
              >
                MMI: {{ tile.text1 | number : "1.2-2" }}
              </div>
            </div>
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="-1">
    <h1 style="font-weight: normal">Actions</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p-button
      type="button"
      (click)="visibleSidebar1 = false"
      label="Cancel"
      styleClass="p-button-secondary"
    ></p-button>
    <br />
  </p-sidebar>
  <p-sidebar
    [(visible)]="visibleSidebar2"
    [fullScreen]="true"
    [baseZIndex]="-1"
  >
    <h1 style="font-weight: normal">News</h1>
    <div class="InsideContent newsframe row card-group">
      <p-card
        class="col-4"
        *ngFor="let news of newscard; let i = index; trackBy: trackByFunctionnewscardnav"
        header="{{ news.text1 }}"
        subheader="{{ news.text4 }}"
        [style]="{ width: '400px', margin: '5px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="{{ news.text3 }}" />
        </ng-template>
        <p>{{ news.text5 }}</p>
        <a href="{{ news.text2 }}" target="_blank" rel="noopener noreferer">{{
          news.text2
        }}</a>
      </p-card>
    </div>
  </p-sidebar>
  <p-sidebar
    [(visible)]="visibleSidebar3"
    [style]="{ height: '80em' }"
    position="top"
    [baseZIndex]="-1"
  >
    <h1 style="font-weight: normal">Links</h1>
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Analytics"
      target="_blank"
      >Analytics</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Treemaps"
      target="_blank"
      >TreeMaps</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Homepage"
      target="_blank"
      >Homepage</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Screeners"
      target="_blank"
      >Screeners</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Sectors"
      target="_blank"
      >Sectors</a
    >
    <a class="nav-link waves-light" mdbWavesEffect href="/Recos" target="_blank"
      >Recos</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Portfolio"
      target="_blank"
      >Portfolio</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Screeners/daily"
      target="_blank"
      >PScore/MCData</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Futures"
      target="_blank"
      >Futures</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Options"
      target="_blank"
      >Options</a
    >
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="/Watchlist"
      target="_blank"
      >Watchlist</a
    >
  </p-sidebar>
  <p-sidebar
    [(visible)]="visibleSidebar4"
    [style]="{ height: '38em' }"
    position="bottom"
    [baseZIndex]="-1"
  >
    <h1 style="font-weight: normal">Important Websites</h1>
    <a
      class="nav-link waves-light"
      mdbWavesEffect
      href="https://www.nseindia.com/"
      target="_blank"
      >NSE India</a
    >
  </p-sidebar>
  <p-sidebar
    [(visible)]="visibleSidebar5"
    [fullScreen]="true"
    [baseZIndex]="10000"
  >
    <h1 style="font-weight: normal">Full Screen Sidebar</h1>
  </p-sidebar>
</div>
