<div class="gap-div">
  <p-dialog
    header="TL Screeners"
    [(visible)]="displayMaximizable1"
    [modal]="true"
    [style]="{ width: '100vw', height: '100vh' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <form>
      <div *ngFor="let option of options">
        <label>
          <input
            type="radio"
            [name]="option.name"
            [value]="option.value"
            [(ngModel)]="selectedOption"
          />
          {{ option.label }}
        </label>
      </div>
    </form>
    <div class="chart" id="tlchart-container"></div>
    <button
      type="button"
      class="btn btn-danger btn-lg btn-block"
      (click)="gettlscreeners(selectedOption)"
    >
      tlscreeners
    </button>
  </p-dialog>
  <button
    pButton
    pRipple
    type="button"
    (click)="showMaximizableDialog()"
    label="NT Screeners"
    class="p-button-raised p-button-success p-button-text"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="showMaximizableDialog1()"
    label="TL Screeners"
    class="p-button-raised p-button-success p-button-text"
  ></button>
  <p-dialog
    header="Nifty Traders Screeners"
    [(visible)]="displayMaximizable"
    [modal]="true"
    [style]="{ width: '100vw', height: '100vh' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="animate">
      <button
        ejs-button
        id="Refresh1"
        Class="e-control e-outline e-btn e-primary"
        #defaultButton
        (click)="refresh()"
      >
        Refresh
      </button>
    </div>
    <section class="example-section" [formGroup]="SMA">
      <br />
      <br />
      <h4>Moving Average Crossovers:</h4>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="block">
          <h6>Close Crossing SMA</h6>
          <mat-checkbox formControlName="_20_day_sma_below"
            >_20_day_sma_below</mat-checkbox
          >
          <mat-checkbox formControlName="_20_day_sma_above"
            >_20_day_sma_above</mat-checkbox
          >
          <mat-checkbox formControlName="_50_day_sma_below"
            >_50_day_sma_below</mat-checkbox
          >
          <mat-checkbox formControlName="_50_day_sma_above"
            >_50_day_sma_above</mat-checkbox
          >
          <mat-checkbox formControlName="_100_day_sma_below"
            >_100_day_sma_below</mat-checkbox
          >
          <mat-checkbox formControlName="_100_day_sma_above"
            >_100_day_sma_above</mat-checkbox
          >
          <mat-checkbox formControlName="_200_day_sma_below"
            >_200_day_sma_below</mat-checkbox
          >
          <mat-checkbox formControlName="_200_day_sma_above"
            >_200_day_sma_above</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>Close Crossing EMA:</h6>
          <mat-checkbox formControlName="_5_day_ema_below"
            >_5_day_ema_below</mat-checkbox
          >
          <mat-checkbox formControlName="_5_day_ema_above"
            >_5_day_ema_above</mat-checkbox
          >
          <mat-checkbox formControlName="_8_day_ema_below"
            >_8_day_ema_below</mat-checkbox
          >
          <mat-checkbox formControlName="_8_day_ema_above"
            >_8_day_ema_above</mat-checkbox
          >
          <mat-checkbox formControlName="_20_day_ema_below"
            >_20_day_ema_below</mat-checkbox
          >
          <mat-checkbox formControlName="_20_day_ema_above"
            >_20_day_ema_above</mat-checkbox
          >
          <mat-checkbox formControlName="_26_day_ema_below"
            >_26_day_ema_below</mat-checkbox
          >
          <mat-checkbox formControlName="_26_day_ema_above"
            >_26_day_ema_above</mat-checkbox
          >
          <mat-checkbox formControlName="_50_day_ema_below"
            >_50_day_ema_below</mat-checkbox
          >
          <mat-checkbox formControlName="_50_day_ema_above"
            >_50_day_ema_above</mat-checkbox
          >
          <mat-checkbox formControlName="_200_day_ema_below"
            >_200_day_ema_below</mat-checkbox
          >
          <mat-checkbox formControlName="_200_day_ema_above"
            >_200_day_ema_above</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>SMA Crossing SMA:</h6>
          <mat-checkbox formControlName="_5_20_sma_crossover_below"
            >_5_20_sma_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_5_20_sma_crossover_above"
            >_5_20_sma_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_20_50_sma_crossover_below"
            >_20_50_sma_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_20_50_sma_crossover_above"
            >_20_50_sma_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_20_100_sma_crossover_below"
            >_20_100_sma_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_20_100_sma_crossover_above"
            >_20_100_sma_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_50_100_sma_crossover_below"
            >_50_100_sma_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_50_100_sma_crossover_above"
            >_50_100_sma_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_50_200_sma_crossover_below"
            >_50_200_sma_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_50_200_sma_crossover_above"
            >_50_200_sma_crossover_above</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>EMA Crossing EMA:</h6>
          <mat-checkbox formControlName="_5_20_ema_crossover_below"
            >_5_20_ema_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_5_20_ema_crossover_above"
            >_5_20_ema_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_8_20_ema_crossover_below"
            >_8_20_ema_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_8_20_ema_crossover_above"
            >_8_20_ema_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_12_26_ema_crossover_below"
            >_12_26_ema_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_12_26_ema_crossover_above"
            >_12_26_ema_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_9_30_ema_crossover_below"
            >_9_30_ema_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_9_30_ema_crossover_above"
            >_9_30_ema_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_20_50_ema_crossover_below"
            >_20_50_ema_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_20_50_ema_crossover_above"
            >_20_50_ema_crossover_above</mat-checkbox
          >
          <mat-checkbox formControlName="_50_200_ema_crossover_below"
            >_50_200_ema_crossover_below</mat-checkbox
          >
          <mat-checkbox formControlName="_50_200_ema_crossover_above"
            >_50_200_ema_crossover_above</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>EMA Crossing SMA:</h6>
          <mat-checkbox formControlName="ema5_sma20_cross_below"
            >ema5_sma20_cross_below</mat-checkbox
          >
          <mat-checkbox formControlName="ema5_sma20_cross_above"
            >ema5_sma20_cross_above</mat-checkbox
          >
          <mat-checkbox formControlName="ema20_sma50_cross_below"
            >ema20_sma50_cross_below</mat-checkbox
          >
          <mat-checkbox formControlName="ema20_sma50_cross_above"
            >ema20_sma50_cross_above</mat-checkbox
          >
          <mat-checkbox formControlName="ema50_sma100_cross_below"
            >ema50_sma100_cross_below</mat-checkbox
          >
          <mat-checkbox formControlName="ema50_sma100_cross_above"
            >ema50_sma100_cross_above</mat-checkbox
          >
        </div>
      </div>
      <h4>Range Breakouts:</h4>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="block">
          <h6>Narrow Range:</h6>
          <mat-checkbox formControlName="nr4">nr4</mat-checkbox>
          <mat-checkbox formControlName="nr7">nr7</mat-checkbox>
        </div>
        <div class="block">
          <h6>5 Day Range:</h6>
          <mat-checkbox formControlName="_5_days_high_above"
            >_5_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="_5_days_high_below"
            >_5_days_high_below</mat-checkbox
          >
          <mat-checkbox formControlName="_5_days_high_2_above"
            >_5_days_high_2_above</mat-checkbox
          >
          <mat-checkbox formControlName="_5_days_high_2_below"
            >_5_days_high_2_below</mat-checkbox
          >
          <mat-checkbox formControlName="new_5_days_high_above"
            >new_5_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="new_5_days_low_below"
            >new_5_days_low_below</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>20 Day Range:</h6>
          <mat-checkbox formControlName="_20_days_high_above"
            >_20_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="_20_days_high_below"
            >_20_days_high_below</mat-checkbox
          >
          <mat-checkbox formControlName="_20_days_high_2_above"
            >_20_days_high_2_above</mat-checkbox
          >
          <mat-checkbox formControlName="_20_days_high_2_below"
            >_20_days_high_2_below</mat-checkbox
          >
          <mat-checkbox formControlName="new_20_days_high_above"
            >new_20_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="new_20_days_low_below"
            >new_20_days_low_below</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>50 Day Range:</h6>
          <mat-checkbox formControlName="_50_days_high_above"
            >_50_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="_50_days_high_below"
            >_50_days_high_below</mat-checkbox
          >
          <mat-checkbox formControlName="_50_days_high_2_above"
            >_50_days_high_2_above</mat-checkbox
          >
          <mat-checkbox formControlName="_50_days_high_2_below"
            >_50_days_high_2_below</mat-checkbox
          >
          <mat-checkbox formControlName="new_50_days_high_above"
            >new_50_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="new_50_days_low_below"
            >new_50_days_low_below</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>100 Day Range:</h6>
          <mat-checkbox formControlName="_100_days_high_above"
            >_100_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="_100_days_high_below"
            >_100_days_high_below</mat-checkbox
          >
          <mat-checkbox formControlName="_100_days_high_2_above"
            >_100_days_high_2_above</mat-checkbox
          >
          <mat-checkbox formControlName="_100_days_high_2_below"
            >_100_days_high_2_below</mat-checkbox
          >
          <mat-checkbox formControlName="new_100_days_high_above"
            >new_100_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="new_100_days_low_below"
            >new_100_days_low_below</mat-checkbox
          >
        </div>
        <div class="block">
          <h6>200 Day Range:</h6>
          <mat-checkbox formControlName="_200_days_high_above"
            >_200_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="_200_days_high_below"
            >_200_days_high_below</mat-checkbox
          >
          <mat-checkbox formControlName="_200_days_high_2_above"
            >_200_days_high_2_above</mat-checkbox
          >
          <mat-checkbox formControlName="_200_days_high_2_below"
            >_200_days_high_2_below</mat-checkbox
          >
          <mat-checkbox formControlName="new_200_days_high_above"
            >new_200_days_high_above</mat-checkbox
          >
          <mat-checkbox formControlName="new_200_days_low_below"
            >new_200_days_low_below</mat-checkbox
          >
        </div>
      </div>
      <h3>Technical Indicators:</h3>
      <h4>Momentum Indicators:</h4>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="block">
          <h5>Commodity Channel Index (CCI):</h5>
          <mat-checkbox formControlName="cci_100_above"
            >cci_100_above</mat-checkbox
          >
          <mat-checkbox formControlName="cci_100_below"
            >cci_100_below</mat-checkbox
          >
          <mat-checkbox formControlName="cci_200_above"
            >cci_200_above</mat-checkbox
          >
          <mat-checkbox formControlName="cci_200_below"
            >cci_200_below</mat-checkbox
          >
          <mat-checkbox formControlName="cci_cross_100_above"
            >cci_cross_100_above</mat-checkbox
          >
          <mat-checkbox formControlName="cci_cross_100_below"
            >cci_cross_100_below</mat-checkbox
          >
          <mat-checkbox formControlName="cci_cross_neg_100_above"
            >cci_cross_neg_100_above</mat-checkbox
          >
          <mat-checkbox formControlName="cci_cross_neg_100_below"
            >cci_cross_neg_100_below</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Relative Strength Index (RSI):</h5>
          <mat-checkbox formControlName="rsi_cross_30_below"
            >rsi_cross_30_below</mat-checkbox
          >
          <mat-checkbox formControlName="rsi_cross_70_above"
            >rsi_cross_70_above</mat-checkbox
          >
          <mat-checkbox formControlName="rsi_cross_20_below"
            >rsi_cross_20_below</mat-checkbox
          >
          <mat-checkbox formControlName="rsi_cross_80_above"
            >rsi_cross_80_above</mat-checkbox
          >
          <mat-checkbox formControlName="rsi_2_70_above"
            >rsi_2_70_above</mat-checkbox
          >
          <mat-checkbox formControlName="rsi_2_70_below"
            >rsi_2_70_below</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Moving Average Convergence Divergence (MACD):</h5>
          <mat-checkbox formControlName="macd_cross_below"
            >macd_cross_below</mat-checkbox
          >
          <mat-checkbox formControlName="macd_cross_above"
            >macd_cross_above</mat-checkbox
          >
          <mat-checkbox formControlName="macd_cross_above_zero"
            >macd_cross_above_zero</mat-checkbox
          >
          <mat-checkbox formControlName="macd_cross_below_zero"
            >macd_cross_below_zero</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Money Flow Index (MFI):</h5>
          <mat-checkbox formControlName="mfi_above_80"
            >mfi_above_80</mat-checkbox
          >
          <mat-checkbox formControlName="mfi_below_20"
            >mfi_below_20</mat-checkbox
          >
          <mat-checkbox formControlName="mfi_above_90"
            >mfi_above_90</mat-checkbox
          >
          <mat-checkbox formControlName="mfi_below_10"
            >mfi_below_10</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Average Directional Index (ADX):</h5>
          <mat-checkbox formControlName="up_adx_between_25_50"
            >up_adx_between_25_50</mat-checkbox
          >
          <mat-checkbox formControlName="strong_up_adx_above_50"
            >strong_up_adx_above_50</mat-checkbox
          >
          <mat-checkbox formControlName="down_adx_between_25_50"
            >down_adx_between_25_50</mat-checkbox
          >
          <mat-checkbox formControlName="strong_down_adx_above_50"
            >strong_down_adx_above_50</mat-checkbox
          >
          <mat-checkbox formControlName="adx_below_50"
            >adx_below_50</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Super Trend:</h5>
          <mat-checkbox formControlName="supr_buy">supr_buy</mat-checkbox>
          <mat-checkbox formControlName="supr_sell">supr_sell</mat-checkbox>
        </div>
      </div>
      <h4>Volatility Indicators:</h4>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="block">
          <h5>Bollinger Band (BB):</h5>
          <mat-checkbox formControlName="upper_bb_below"
            >upper_bb_below</mat-checkbox
          >
          <mat-checkbox formControlName="upper_bb_above"
            >upper_bb_above</mat-checkbox
          >
          <mat-checkbox formControlName="lower_bb_below"
            >lower_bb_below</mat-checkbox
          >
          <mat-checkbox formControlName="lower_bb_above"
            >lower_bb_above</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Average True Range (ATR:</h5>
          <mat-checkbox formControlName="atr_inc_3">atr_inc_3</mat-checkbox>
          <mat-checkbox formControlName="atr_dec_3">atr_dec_3</mat-checkbox>
          <mat-checkbox formControlName="atr_inc_5">atr_inc_5</mat-checkbox>
          <mat-checkbox formControlName="atr_dec_5">atr_dec_5</mat-checkbox>
        </div>
      </div>
      <h4>Price Action & Volume:</h4>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="block">
          <h5>Price Change:</h5>
          <mat-checkbox formControlName="close_gainers"
            >close_gainers</mat-checkbox
          >
          <mat-checkbox formControlName="close_losers"
            >close_losers</mat-checkbox
          >
          <mat-checkbox formControlName="close_more_5_gain"
            >close_more_5_gain</mat-checkbox
          >
          <mat-checkbox formControlName="close_more_5_down"
            >close_more_5_down</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Opening & Closing Price Clues:</h5>
          <mat-checkbox formControlName="same_open_high"
            >same_open_high</mat-checkbox
          >
          <mat-checkbox formControlName="same_open_low"
            >same_open_low</mat-checkbox
          >
          <mat-checkbox formControlName="same_approx_open_high"
            >same_approx_open_high</mat-checkbox
          >
          <mat-checkbox formControlName="same_approx_open_low"
            >same_approx_open_low</mat-checkbox
          >
          <mat-checkbox formControlName="close_nearday_high"
            >close_nearday_high</mat-checkbox
          >
          <mat-checkbox formControlName="close_nearday_low"
            >close_nearday_low</mat-checkbox
          >
          <mat-checkbox formControlName="close_near_open"
            >close_near_open</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Candlestick:</h5>
          <mat-checkbox formControlName="higher_high">higher_high</mat-checkbox>
          <mat-checkbox formControlName="higher_low">higher_low</mat-checkbox>
          <mat-checkbox formControlName="higher_high_higher_low"
            >higher_high_higher_low</mat-checkbox
          >
          <mat-checkbox formControlName="lower_high">lower_high</mat-checkbox>
          <mat-checkbox formControlName="lower_low">lower_low</mat-checkbox>
          <mat-checkbox formControlName="lower_high_lower_low"
            >lower_high_lower_low</mat-checkbox
          >
          <mat-checkbox formControlName="inside_day">inside_day</mat-checkbox>
          <mat-checkbox formControlName="outside_day">outside_day</mat-checkbox>
        </div>
        <div class="block">
          <h5>Volume & Delivery :</h5>
          <mat-checkbox formControlName="high_delivery_age"
            >high_delivery_age</mat-checkbox
          >
          <mat-checkbox formControlName="lower_high_delivery_qty"
            >lower_high_delivery_qty</mat-checkbox
          >
          <mat-checkbox formControlName="high_delivery_age_qty"
            >high_delivery_age_qty</mat-checkbox
          >
          <mat-checkbox formControlName="high_trade_qty"
            >high_trade_qty</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Pivots:</h5>
          <mat-checkbox formControlName="above_r2">above_r2</mat-checkbox>
          <mat-checkbox formControlName="between_r1_r2"
            >between_r1_r2</mat-checkbox
          >
          <mat-checkbox formControlName="above_pivot">above_pivot</mat-checkbox>
          <mat-checkbox formControlName="below_pivot">below_pivot</mat-checkbox>
          <mat-checkbox formControlName="between_s2_s1"
            >between_s2_s1</mat-checkbox
          >
          <mat-checkbox formControlName="s2_support">s2_support</mat-checkbox>
        </div>
        <div class="block">
          <h5>Gaps :</h5>
          <mat-checkbox formControlName="gap_up_opening"
            >gap_up_opening</mat-checkbox
          >
          <mat-checkbox formControlName="gap_up_opening_fill"
            >gap_up_opening_fill</mat-checkbox
          >
          <mat-checkbox formControlName="gap_up_opening_unfill"
            >gap_up_opening_unfill</mat-checkbox
          >
          <mat-checkbox formControlName="gap_down_opening"
            >gap_down_opening</mat-checkbox
          >
          <mat-checkbox formControlName="gap_down_opening_fill"
            >gap_down_opening_fill</mat-checkbox
          >
          <mat-checkbox formControlName="gap_down_opening_unfill"
            >gap_down_opening_unfill</mat-checkbox
          >
        </div>
      </div>
      <h4>Price Action & Volume:</h4>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="block">
          <h5>Bullish :</h5>
          <mat-checkbox formControlName="doji_bullish"
            >doji_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="engul_fing_bullish"
            >engul_fing_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="doji_star_bullish"
            >doji_star_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="harami_bullish"
            >harami_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="harami_cross_bullish"
            >harami_cross_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="inverted_hammer_bullish"
            >inverted_hammer_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="hammer_bullish"
            >hammer_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="marubozu_bullish"
            >marubozu_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="dragon_fly_doji_bullish"
            >dragon_fly_doji_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="grave_stone_doji_bullish"
            >grave_stone_doji_bullish</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Bearish :</h5>
          <mat-checkbox formControlName="doji_bearish"
            >doji_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="doji_star_bearish"
            >doji_star_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="engul_fing_bearish"
            >engul_fing_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="harami_bearish"
            >harami_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="harami_cross_bearish"
            >harami_cross_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="inverted_hammer_bearish"
            >inverted_hammer_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="hammer_bearish"
            >hammer_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="marubozu_bearish"
            >marubozu_bearish></mat-checkbox
          >
          <mat-checkbox formControlName="dragon_fly_doji_bearish"
            >dragon_fly_doji_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="grave_stone_doji_bearish"
            >grave_stone_doji_bearish</mat-checkbox
          >
        </div>
        <div class="block">
          <h5>Trend :</h5>
          <mat-checkbox formControlName="tasuki_gap_bullish"
            >tasuki_gap_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="tasuki_gap_bearish"
            >tasuki_gap_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="piercing_line_bullish"
            >piercing_line_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="piercing_line_bearish"
            >piercing_line_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="morning_star_bullish"
            >morning_star_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="evening_star_bearish"
            >evening_star_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="three_black_crows_bearish"
            >three_black_crows_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="dark_cloud_cover_bearish"
            >dark_cloud_cover_bearish</mat-checkbox
          >
          <mat-checkbox formControlName="three_white_soldiers_bullish"
            >three_white_soldiers_bullish</mat-checkbox
          >
          <mat-checkbox formControlName="is_candle">is_candle</mat-checkbox>
        </div>
      </div>
    </section>
    <section class="example-section" [formGroup]="SMA">
      <br />
      <br />
      <button
        type="button"
        class="btn btn-danger btn-lg btn-block"
        (click)="getnteodscreeners(SMA.value)"
      >
        Screener
      </button>
    </section>
 
    <!-- <div class="grid-margin stretch-card">
   <div class="content card  container">
     <div fxLayout="row wrap" fxLayoutGap="10px grid">
       <div fxFlex="15" fxFlex.xs="33%" fxFlex.sm="100%"  *ngFor="let tile of screenerstocks trackBy: trackByFunction42">
         <div class="text-blue type1-bold cardbear grid-margin stretch-card" [ngClass]="{ 
                     'cardbear bg-gradient-bull': tile.text2 > 0,
                     'cardbear2 bg-gradient-bear2': 0 > tile.text2 ,
                     'cardbear3 bg-gradient-neutral': tile.text2 == 0 }">&nbsp;&nbsp;&nbsp;{{tile.text12}}<br>{{tile.text1}}<br>Price Change:{{tile.text2}}<br>Current Volume:{{tile.text4}}<br>20d Avg Vol:{{tile.text3}}
                  </div>
                  <button type="button" style="font:xx-small" class=" InsideContent1 btn1 btn-danger btn-xs btn-block" (click)="changestockpage(tile.text1)">Graph</button>        
       </div>
     </div>
     </div>
   </div> -->
   <div class="grid-wrappernt">
  
    <div class="grid-containernt">
      <div class="cardnt" *ngFor="let tile of screenerstocks; let i = index; trackBy: trackByFunctionscreenerstocks" 
           [ngClass]="{
            'bg-gradient-bullnt': tile.text2 > 0,
                    'bg-gradient-bearnt': 0 > tile.text2,
                    'bg-gradient-warningnt': tile.text2 === 0
           }">
        <div class="card-innernt">
          <div class="card-frontnt">&nbsp;&nbsp;&nbsp;{{ tile.text12 }}<br />{{ tile.text1}}<br />Price Change:{{ tile.text2 }}<br />Current Volume:{{tile.text4}}<br />20d Avg Vol:{{ tile.text3 }}
         
        </div>
      </div>
    </div>
  
  
</div>
</div>
</p-dialog>
</div> 
 
