<div class="gap-div">
  <div class="InsideContent">
    <p-radioButton
      name="groupname"
      value="5"
      label="5 min"
      [(ngModel)]="selectedValue"
      (onClick)="onClick($event)"
    ></p-radioButton
    ><br />
    <p-radioButton
      name="groupname"
      value="10"
      label="10 min"
      [(ngModel)]="selectedValue"
      (onClick)="onClick($event)"
    ></p-radioButton
    ><br />
    <p-radioButton
      name="groupname"
      value="15"
      label="15 min"
      [(ngModel)]="selectedValue"
      (onClick)="onClick($event)"
    ></p-radioButton
    ><br />
    <p-radioButton
      name="groupname"
      value="30"
      label="30 min"
      [(ngModel)]="selectedValue"
      (onClick)="onClick($event)"
    ></p-radioButton
    ><br />
    <p-radioButton
      name="groupname"
      value="60"
      label="60 min"
      [(ngModel)]="selectedValue"
      (onClick)="onClick($event)"
    ></p-radioButton
    ><br />
    <p-radioButton
      name="groupname"
      value="120"
      label="120 min"
      [(ngModel)]="selectedValue"
      (onClick)="onClick($event)"
    ></p-radioButton
    ><br />
    <p-radioButton
      name="groupname"
      value="24"
      label="24 hrs"
      [(ngModel)]="selectedValue"
      (onClick)="onClick($event)"
    ></p-radioButton
    ><br />
  </div>
  <h4 class="text-black text-center">Technical Indicators</h4>
  <div fxLayout="row wrap" fxLayoutGap="5px grid" class="col-lg-13 col-xs-3">
    <div
      style="text-transform: uppercase; font-weight: bold; margin: 10px"
      fxFlex="13"
      fxFlex.lg="12%"
      fxFlex.xs="30%"
      fxFlex.sm="33%"
      *ngFor="let tile of tlindexparam; trackBy: trackByFunctiontlindexparambn"
    >
      <div class="scene">
        <div class="card text-white text-center">
          <div
            class="card__face card__face--front type1-regular"
            [ngClass]="{
              'bg-gradient-bull': tile.text3 === 'positive',
              'bg-gradient-bear': tile.text3 === 'negative',
              'bg-gradient-warning': tile.text3 === 'neutral'
            }"
          >
            {{ tile.text1 }}
          </div>
          <div
            class="card__face card__face--back type1-regular"
            [ngClass]="{
              'bg-gradient-bull': tile.text3 === 'positive',
              'bg-gradient-bear': tile.text3 === 'negative',
              'bg-gradient-warning': tile.text3 === 'neutral'
            }"
          >
            <h2>{{ tile.text2 }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-black text-center">Daily Technical Indicators</h4>
  <div fxLayout="row wrap" fxLayoutGap="10px grid" class="col-lg-13 col-xs-6">
    <div
      style="text-transform: uppercase; font-weight: bold; margin: 10px"
      fxFlex="10"
      fxFlex.lg="12%"
      fxFlex.xs="30"
      fxFlex.sm="33%"
      *ngFor="let tile of bankniftyindicators; trackBy: trackByFunctionbankniftyindicators"
    >
      <div class="scene">
        <div class="card text-white text-center">
          <div
            class="card__face card__face--front text-blue type1-bold"
            [ngClass]="{
              'bg-gradient-bull': tile.text3 === 'Bullish',
              'bg-gradient-bull1': tile.text3 === 'Oversold',
              'bg-gradient-bull2': tile.text3 === 'Strong Trend',
              'bg-gradient-bull3': tile.text3 === 'High Volatility',
              'bg-gradient-bear': tile.text3 === 'Bearish',
              'bg-gradient-bear1': tile.text3 === 'Overbought',
              'bg-gradient-bear2': tile.text3 === 'Weak Trend',
              'bg-gradient-bear3': tile.text3 === 'Low Volatility',
              'bg-gradient-warning': tile.text3 === 'Neutral'
            }"
          >
            {{ tile.text2 }}
          </div>
          <div
            class="card__face card__face--back text-blue type1-bold"
            [ngClass]="{
              'bg-gradient-bull': tile.text3 === 'Bullish',
              'bg-gradient-bull1': tile.text3 === 'Oversold',
              'bg-gradient-bull2': tile.text3 === 'Strong Trend',
              'bg-gradient-bull3': tile.text3 === 'High Volatility',
              'bg-gradient-bear': tile.text3 === 'Bearish',
              'bg-gradient-bear1': tile.text3 === 'Overbought',
              'bg-gradient-bear2': tile.text3 === 'Weak Trend',
              'bg-gradient-bear3': tile.text3 === 'Low Volatility',
              'bg-gradient-warning': tile.text3 === 'Neutral'
            }"
          >
            {{ tile.text3 }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <div class="col-lg-6 col-xs-4 text-center text-white">
      <div class="content card">
        <div class="block">
          <h4 class="text-black text-center">Crossover</h4>
          <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div
              style="
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
              "
              fxFlex="30"
              fxFlex.xs="33%"
              fxFlex.sm="33%"
              *ngFor="let tile of bankniftycrossover; trackBy: trackByFunctionbankniftycrossover"
            >
              <mat-card
                class="type1-bold"
                [ngClass]="{
                  'bg-gradient-bull': tile.text3 === 'Bullish',
                  'bg-gradient-bull1': tile.text3 === 'Oversold',
                  'bg-gradient-bull2': tile.text3 === 'Strong Trend',
                  'bg-gradient-bull3': tile.text3 === 'High Volatility',
                  'bg-gradient-bear': tile.text3 === 'Bearish',
                  'bg-gradient-bear1': tile.text3 === 'Overbought',
                  'bg-gradient-bear2': tile.text3 === 'Weak Trend',
                  'bg-gradient-bear3': tile.text3 === 'Low Volatility',
                  'bg-gradient-warning': tile.text3 === 'Neutral'
                }"
                >{{ tile.text2 }}<br />{{ tile.text3 }}
              </mat-card>
            </div>
            <div class="table-responsive pt-3">
              <table
                class="table table-bordered"
                *ngFor="let tile of bniftyema; trackBy: trackByFunctionbniftyema"
              >
                <thead>
                  <tr>
                    <th>E5</th>
                    <th>E10</th>
                    <th>E20</th>
                    <th>E30</th>
                    <th>E50</th>
                    <th>E100</th>
                    <th>E200</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-success">
                    <td>
                      {{ tile.text1 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text2 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text3 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text4 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text5 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text6 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text7 | number : "1.0-0" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-4 text-white text-center">
      <div class="content card">
        <div class="block">
          <h4 class="text-black text-center">Sentiment</h4>
          <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div
              style="
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
              "
              fxFlex="30"
              fxFlex.xs="33%"
              fxFlex.sm="33%"
              *ngFor="
                let tile of bankniftysentiments;
                trackBy: trackByFunctionbankniftysentiments
              "
            >
              <mat-card
                class="type1-bold"
                [ngClass]="{
                  'bg-gradient-bull': tile.text1 === 'Bullish',
                  'bg-gradient-bull1': tile.text1 === 'Very Bullish',
                  'bg-gradient-bear': tile.text1 === 'Bearish',
                  'bg-gradient-bear1': tile.text1 === 'Very Bearish',
                  'bg-gradient-warning': tile.text1 === 'Neutral'
                }"
                >{{ tile.text2 }}<br />{{ tile.text1 }}
              </mat-card>
            </div>
            <div class="table-responsive pt-3">
              <table
                class="table table-bordered"
                *ngFor="let tile of bniftysma; trackBy: trackByFunctionbniftysma"
              >
                <thead>
                  <tr>
                    <th>S5</th>
                    <th>S10</th>
                    <th>S20</th>
                    <th>S30</th>
                    <th>S50</th>
                    <th>S100</th>
                    <th>S200</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-success">
                    <td>
                      {{ tile.text1 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text2 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text3 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text4 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text5 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text6 | number : "1.0-0" }}
                    </td>
                    <td>
                      {{ tile.text7 | number : "1.0-0" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-15 col-xs-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="text-black text-center">BANK NIFTY - Today</h6>
        <div class="table-responsive">
          <canvas
            baseChart
            style="height: 400px"
            class="table"
            [type]="lineChartType"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <div class="col-lg-6 col-xs-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          PCR
          <div class="table-responsive">
            <canvas
              baseChart
              style="height: 350px"
              class="table"
              [datasets]="lineChartpcrData"
              [labels]="lineChartpcrLabels"
              [options]="lineChartOptions"
              [type]="lineChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          VIX
          <div class="table-responsive">
            <canvas
              baseChart
              style="height: 350px"
              class="table"
              [datasets]="lineChartvixData"
              [labels]="lineChartvixLabels"
              [options]="lineChartOptions"
              [type]="lineChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-tabView>
    <p-tabPanel header="5 days">
      <h4 class="text-black text-center">Weekly Technical Indicators</h4>
      <div
        fxLayout="row wrap"
        fxLayoutGap="10px grid"
        class="col-lg-13 col-xs-6"
      >
        <div
          style="text-transform: uppercase; font-weight: bold; margin: 10px"
          fxFlex="10"
          fxFlex.lg="12%"
          fxFlex.xs="40"
          fxFlex.sm="33%"
          *ngFor="let tile of bankniftyindicatorsw; trackBy: trackByFunctionbankniftyindicatorsw"
        >
          <div class="scene">
            <div class="card text-white text-center">
              <div
                class="card__face card__face--front text-blue type1-bold"
                [ngClass]="{
                  'bg-gradient-bull': tile.text3 === 'Bullish',
                  'bg-gradient-bull1': tile.text3 === 'Oversold',
                  'bg-gradient-bull2': tile.text3 === 'Strong Trend',
                  'bg-gradient-bull3': tile.text3 === 'High Volatility',
                  'bg-gradient-bear': tile.text3 === 'Bearish',
                  'bg-gradient-bear1': tile.text3 === 'Overbought',
                  'bg-gradient-bear2': tile.text3 === 'Weak Trend',
                  'bg-gradient-bear3': tile.text3 === 'Low Volatility',
                  'bg-gradient-warning': tile.text3 === 'Neutral'
                }"
              >
                {{ tile.text2 }}
              </div>
              <div
                class="card__face card__face--back text-blue type1-bold"
                [ngClass]="{
                  'bg-gradient-bull': tile.text3 === 'Bullish',
                  'bg-gradient-bull1': tile.text3 === 'Oversold',
                  'bg-gradient-bull2': tile.text3 === 'Strong Trend',
                  'bg-gradient-bull3': tile.text3 === 'High Volatility',
                  'bg-gradient-bear': tile.text3 === 'Bearish',
                  'bg-gradient-bear1': tile.text3 === 'Overbought',
                  'bg-gradient-bear2': tile.text3 === 'Weak Trend',
                  'bg-gradient-bear3': tile.text3 === 'Low Volatility',
                  'bg-gradient-warning': tile.text3 === 'Neutral'
                }"
              >
                {{ tile.text3 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="col-lg-6 col-xs-4 text-white text-center">
          <div class="content card">
            <div class="block">
              <h4 class="text-black text-center">Crossover</h4>
              <div fxLayout="row wrap" fxLayoutGap="10px grid">
                <div
                  style="
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                  "
                  fxFlex="30"
                  fxFlex.xs="33%"
                  fxFlex.sm="33%"
                  *ngFor="
                    let tile of bankniftycrossoverw;
                    trackBy: trackByFunctionbankniftycrossoverw
                  "
                >
                  <mat-card
                    class="text-blue type1-bold"
                    [ngClass]="{
                      'bg-gradient-bull': tile.text3 === 'Bullish',
                      'bg-gradient-bull1': tile.text3 === 'Oversold',
                      'bg-gradient-bull2': tile.text3 === 'Strong Trend',
                      'bg-gradient-bull3': tile.text3 === 'High Volatility',
                      'bg-gradient-bear': tile.text3 === 'Bearish',
                      'bg-gradient-bear1': tile.text3 === 'Overbought',
                      'bg-gradient-bear2': tile.text3 === 'Weak Trend',
                      'bg-gradient-bear3': tile.text3 === 'Low Volatility',
                      'bg-gradient-warning': tile.text3 === 'Neutral'
                    }"
                    >{{ tile.text2 }}<br />{{ tile.text3 }}
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-15 col-xs-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="text-black text-center">BANK NIFTY - 1 Week</h6>
            <div class="table-responsive">
              <canvas
                baseChart
                style="min-height: 250px"
                class="table"
                [type]="lineChartType"
                [datasets]="lineChart5dData"
                [labels]="lineChart5dLabels"
                [options]="lineChartOptions"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="1 month">
      <h4 class="text-black text-center">Monthly Technical Indicators</h4>
      <div
        fxLayout="row wrap"
        fxLayoutGap="10px grid"
        class="col-lg-13 col-xs-6"
      >
        <div
          style="text-transform: uppercase; font-weight: bold; margin: 10px"
          fxFlex="10"
          fxFlex.lg="12%"
          fxFlex.xs="40"
          fxFlex.sm="33%"
          *ngFor="let tile of bankniftyindicatorsm; trackBy: trackByFunctionbankniftyindicatorsm"
        >
          <div class="scene">
            <div class="card text-center text-white">
              <div
                class="card__face card__face--front text-blue type1-bold"
                [ngClass]="{
                  'bg-gradient-bull': tile.text3 === 'Bullish',
                  'bg-gradient-bull1': tile.text3 === 'Oversold',
                  'bg-gradient-bull2': tile.text3 === 'Strong Trend',
                  'bg-gradient-bull3': tile.text3 === 'High Volatility',
                  'bg-gradient-bear': tile.text3 === 'Bearish',
                  'bg-gradient-bear1': tile.text3 === 'Overbought',
                  'bg-gradient-bear2': tile.text3 === 'Weak Trend',
                  'bg-gradient-bear3': tile.text3 === 'Low Volatility',
                  'bg-gradient-warning': tile.text3 === 'Neutral'
                }"
              >
                {{ tile.text2 }}
              </div>
              <div
                class="card__face card__face--back text-blue type1-bold"
                [ngClass]="{
                  'bg-gradient-bull': tile.text3 === 'Bullish',
                  'bg-gradient-bull1': tile.text3 === 'Oversold',
                  'bg-gradient-bull2': tile.text3 === 'Strong Trend',
                  'bg-gradient-bull3': tile.text3 === 'High Volatility',
                  'bg-gradient-bear': tile.text3 === 'Bearish',
                  'bg-gradient-bear1': tile.text3 === 'Overbought',
                  'bg-gradient-bear2': tile.text3 === 'Weak Trend',
                  'bg-gradient-bear3': tile.text3 === 'Low Volatility',
                  'bg-gradient-warning': tile.text3 === 'Neutral'
                }"
              >
                {{ tile.text3 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="col-lg-6 col-xs-4 text-center text-white">
          <div class="content card">
            <div class="block">
              <h4 class="text-black text-center">Crossover</h4>
              <div fxLayout="row wrap" fxLayoutGap="10px grid">
                <div
                  style="
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                  "
                  fxFlex="30"
                  fxFlex.xs="33%"
                  fxFlex.sm="33%"
                  *ngFor="
                    let tile of bankniftycrossoverm;
                    trackBy: trackByFunctionbankniftycrossoverm
                  "
                >
                  <mat-card
                    class="type1-bold"
                    [ngClass]="{
                      'bg-gradient-bull': tile.text3 === 'Bullish',
                      'bg-gradient-bull1': tile.text3 === 'Oversold',
                      'bg-gradient-bull2': tile.text3 === 'Strong Trend',
                      'bg-gradient-bull3': tile.text3 === 'High Volatility',
                      'bg-gradient-bear': tile.text3 === 'Bearish',
                      'bg-gradient-bear1': tile.text3 === 'Overbought',
                      'bg-gradient-bear2': tile.text3 === 'Weak Trend',
                      'bg-gradient-bear3': tile.text3 === 'Low Volatility',
                      'bg-gradient-warning': tile.text3 === 'Neutral'
                    }"
                    >{{ tile.text2 }}<br />{{ tile.text3 }}
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-15 col-xs-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="text-black text-center">BANK NIFTY - 1 month</h6>
            <div class="table-responsive">
              <canvas
                baseChart
                style="min-height: 250px"
                class="table"
                [type]="lineChartType"
                [datasets]="lineChart1mData"
                [labels]="lineChart1mLabels"
                [options]="lineChartOptions"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="3months">
      <div class="col-lg-15 col-xs-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="text-black text-center">BANK NIFTY - 3 Months</h6>
            <div class="table-responsive">
              <canvas
                baseChart
                style="min-height: 250px"
                class="table"
                [type]="lineChartType"
                [datasets]="lineChart3mData"
                [labels]="lineChart3mLabels"
                [options]="lineChartOptions"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="6 months">
      <div class="col-lg-13 col-xs-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="text-black text-center">BANK NIFTY - 6 Months</h6>
            <div class="table-responsive">
              <canvas
                baseChart
                style="min-height: 250px"
                class="table"
                [type]="lineChartType"
                [datasets]="lineChart6mData"
                [labels]="lineChart6mLabels"
                [options]="lineChartOptions"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="1 Year">
      <div class="col-lg-15 col-xs-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="text-black text-center">BANK NIFTY - 1 Year</h6>
            <div class="table-responsive">
              <canvas
                baseChart
                style="min-height: 250px"
                class="table"
                [type]="lineChartType"
                [datasets]="lineChart1yrData"
                [labels]="lineChart1yrLabels"
                [options]="lineChartOptions"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
  

  <div class="grid-wrappernt">
  
    <div class="grid-containernt">
      <div class="cardnt" *ngFor="let tile of bankniftystocks; trackBy: trackByFunctionbankniftystocks" 
           [ngClass]="{
            'bg-gradient-bullnt': tile.text3 > 0,
            ' bg-gradient-bearnt' : 0 > tile.text3,
            'bg-gradient-warningnt': tile.text3 === 0
          }"
            (click)="changestockpage(tile.text5)"
           >
        <div class="card-innernt">
          <div class="card-frontnt text-center">{{ tile.text1 }}<br>{{ tile.text4 }}<br>{{ tile.text2 }}&nbsp;({{ tile.text3 }}%) </div>
          
        </div>
    </div>
  
  
</div>
</div>
</div>
