<div class="grid-wrapper">
  <div class="container">
      <div class="grid-container">
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">Front 1</div>
                  <div class="card-back">Back 1</div>
              </div>
          </div>
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">Front 2</div>
                  <div class="card-back">Back 2</div>
              </div>
          </div>
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">Front 3</div>
                  <div class="card-back">Back 3</div>
              </div>
          </div>
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">Front 4</div>
                  <div class="card-back">Back 4</div>
              </div>
          </div>
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">Front 5</div>
                  <div class="card-back">Back 5</div>
              </div>
          </div>
          <div class="card">
              <div class="card-inner">
                  <div class="card-front">Front 6</div>
                  <div class="card-back">Back 6</div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="grid-container additional">
          <div class="card yellow">
              <div class="card-inner">
                  <div class="card-front">Yellow 1</div>
                  <div class="card-back">Yellow Back 1</div>
              </div>
          </div>
          <div class="card yellow">
              <div class="card-inner">
                  <div class="card-front">Yellow 2</div>
                  <div class="card-back">Yellow Back 2</div>
              </div>
          </div>
          <div class="card orange">
              <div class="card-inner">
                  <div class="card-front">Orange 1</div>
                  <div class="card-back">Orange Back 1</div>
              </div>
          </div>
          <div class="card orange">
              <div class="card-inner">
                  <div class="card-front">Orange 2</div>
                  <div class="card-back">Orange Back 2</div>
              </div>
          </div>
      </div>
  </div>
</div>